openapi: 3.1.0
info:
  title: Content
  description: Search our non-catalogue content
  version: v0
  contact: {}
servers:
  - url: https://api.wellcomecollection.org/content/v0
tags:
  - name: Articles
  - name: Events
  - name: All
components:
  schemas:
    Error:
      type: object
      properties:
        errorType:
          type: string
          enum:
            - http
          description: The type of error
        httpStatus:
          type: integer
          description: The HTTP response status code
          format: int32
        label:
          type: string
          description: The title or other short name of the error
        description:
          type: string
          description: The specific error
        type:
          type: string
      required:
        - errorType
        - httpStatus
        - label
        - type
      title: Error
    Dimensions:
      type: object
      properties:
        width:
          type: integer
        height:
          type: integer
      required:
        - width
        - height
    Image:
      type: object
      properties:
        dimensions:
          allOf:
            - $ref: "#/components/schemas/Dimensions"
            - description: The intrinsic dimensions of an image
        alt:
          type: string
          description: Alternative text to display in place of the image if it cannot be
            rendered
        copyright:
          type: string
          description: Copyright information about the image, including the copyright holder
        url:
          type: string
          format: uri
          description: The URL of the image
        32:15:
          allOf:
            - $ref: "#/components/schemas/Dimensions"
            - description: Dimensions of the image for 32:15 aspect ratio
        16:9:
          allOf:
            - $ref: "#/components/schemas/Dimensions"
            - description: Dimensions of the image for 16:9 aspect ratio
        square:
          allOf:
            - $ref: "#/components/schemas/Dimensions"
            - description: Dimensions of the image for a square aspect ratio
        type:
          type: string
      required:
        - dimensions
        - type
        - url
      title: Image
      description: Information regarding the location, dimensions, alt-text, and
        copyright of an image
    ArticleFormat:
      type: object
      properties:
        id:
          type: string
          description: The identifier of the format
        label:
          type: string
          description: The short label of the format
        type:
          type: string
      required:
        - id
        - label
        - type
      title: ArticleFormat
      description: The format of an article (eg article, comic)
    ContributorRole:
      type: object
      properties:
        id:
          type: string
          description: The identifier of the contributor role
        label:
          type: string
          description: The short label of the contributor role
        type:
          type: string
      required:
        - id
        - label
        - type
      title: ContributorRole
      description: A role of a contributor (eg. author, editor)
    ContributorAgent:
      type: object
      properties:
        id:
          type: string
          description: The identifier of the contributor
        label:
          type: string
          description: The name or other short label of the contributor
        type:
          type: string
          enum:
            - Person
            - Organisation
      required:
        - id
        - label
        - type
      title: Contributor
      description: A contributor
    Contributor:
      type: object
      properties:
        contributor:
          $ref: "#/components/schemas/ContributorAgent"
        role:
          $ref: "#/components/schemas/ContributorRole"
      required:
        - contributor
    Article:
      type: object
      properties:
        id:
          type: string
          description: The identifier of the article
        uid:
          type: string
          description: The human-readable identifier of the article
        title:
          type: string
          description: The title of the article
        publicationDate:
          type: string
          format: date-time
          description: The date on which the article was published
        contributors:
          type: array
          items:
            $ref: "#/components/schemas/Contributor"
          description: Relates an article to its author, editor, and any other contributors
        format:
          $ref: "#/components/schemas/ArticleFormat"
        caption:
          type: string
          description: A short description of the article's content
        image:
          $ref: "#/components/schemas/Image"
        type:
          type: string
      required:
        - id
        - uid
        - title
        - publicationDate
        - contributors
        - format
        - type
      title: Article
      description: A piece of editorial content
    LinkedWork:
      type: object
      properties:
        id:
          type: string
          description: The identifier of the linked work
        title:
          type: string
          description: The title of the linked work
        type:
          type: string
          description: The type of the linked work
        thumbnailUrl:
          type: string
          description: URL of the thumbnail image for the linked work
        date:
          type: string
          description: The date associated with the linked work
        mainContributor:
          type: string
          description: The main contributor of the linked work
        workType:
          type: string
          description: The type of the work, e.g. Books, Digital Images
      required:
        - id
        - title
        - type
        - mainContributor
      title: LinkedWork
      description: A Catalogue Work linked to from the content
    EventLocations:
      type: object
      properties:
        isOnline:
          type: boolean
          description: Whether or not the event takes place online
        attendance:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                enum:
                  - in-our-building
                  - online
                description: The identifier of the place
              label:
                type: string
                enum:
                  - In our building
                  - Online
                description: The short label of the place
              type:
                type: string
            required:
              - id
              - label
              - type
          description: The general location (e.g. in our building or online)
        places:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: The identifier of the place
              label:
                type: string
                description: The short label of the place
              type:
                type: string
            required:
              - id
              - label
              - type
          description: The physical location of the event
        type:
          type: string
      required:
        - isOnline
        - attendance
        - places
        - type
      description: Where the event takes place
    Event:
      type: object
      properties:
        id:
          type: string
          description: The identifier of the event
        uid:
          type: string
          description: The human-readable identifier of the event
        title:
          type: string
          description: The title of the event
        image:
          $ref: "#/components/schemas/Image"
        format:
          type: object
          properties:
            id:
              type: string
              description: The identifier of the format
            label:
              type: string
              description: The short label of the format
            type:
              type: string
          required:
            - id
            - label
            - type
          title: EventFormat
          description: The format of an event (eg discussion)
        locations:
          $ref: "#/components/schemas/EventLocations"
        interpretations:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: The identifier of the format
              label:
                type: string
                description: The short label of the format
              type:
                type: string
            required:
              - id
              - label
              - type
            title: EventInterpretation
            description: Which accessibility features the event offers
        audiences:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: The identifier of the audience
              label:
                type: string
                description: The short label of the audience
              type:
                type: string
            required:
              - id
              - label
              - type
            title: EventAudience
          description: Which audiences the event is for
        series:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: The identifier of the series
              title:
                type: string
                description: The title of the series
              contributors:
                type: array
                items:
                  type: string
            required:
              - id
              - title
              - contributors
          description: Which series the event is part of
        isAvailableOnline:
          type: boolean
          description: Whether or not it is a catch-up event
        type:
          type: string
      required:
        - id
        - uid
        - title
        - format
        - locations
        - interpretations
        - audiences
        - series
        - isAvailableOnline
        - type
      title: Event
      description: A Wellcome Collection event (on location or online)
    AggregationBucket:
      type: object
      properties:
        data:
          anyOf:
            - $ref: "#/components/schemas/ContributorAgent"
            - $ref: "#/components/schemas/ArticleFormat"
          discriminator:
            propertyName: type
        count:
          type: integer
          description: The count of how often this data occurs in this set of results.
          format: int32
        type:
          type: string
      required:
        - data
        - count
        - type
      title: AggregationBucket
      description: An individual bucket within an aggregation.
    Aggregation:
      type: object
      properties:
        buckets:
          type: array
          items:
            $ref: "#/components/schemas/AggregationBucket"
        type:
          type: string
      required:
        - buckets
        - type
      title: Aggregation
      description: An aggregation over the results.
    ArticleAggregations:
      type: object
      properties:
        format:
          $ref: "#/components/schemas/Aggregation"
        contributors.contributor:
          $ref: "#/components/schemas/Aggregation"
        type:
          type: string
      required:
        - type
      title: ArticleAggregations
      description: A map containing the requested aggregations.
    ArticleResultList:
      type: object
      properties:
        type:
          type: string
        pageSize:
          type: integer
          format: int32
        totalPages:
          type: integer
          format: int32
        totalResults:
          type: integer
          format: int32
        results:
          type: array
          items:
            $ref: "#/components/schemas/Article"
        prevPage:
          type: string
        nextPage:
          type: string
        aggregations:
          $ref: "#/components/schemas/ArticleAggregations"
      required:
        - type
        - pageSize
        - totalPages
        - totalResults
        - results
      title: ArticleResultList
      description: A paginated list of articles.
    EventAggregations:
      type: object
      properties:
        audience:
          $ref: "#/components/schemas/Aggregation"
        interpretation:
          $ref: "#/components/schemas/Aggregation"
        format:
          $ref: "#/components/schemas/Aggregation"
        isAvailableOnline:
          $ref: "#/components/schemas/Aggregation"
        location:
          $ref: "#/components/schemas/Aggregation"
        type:
          type: string
      required:
        - type
      title: EventAggregations
      description: A map containing the requested aggregations.
    EventResultList:
      type: object
      properties:
        type:
          type: string
        pageSize:
          type: integer
          format: int32
        totalPages:
          type: integer
          format: int32
        totalResults:
          type: integer
          format: int32
        results:
          type: array
          items:
            $ref: "#/components/schemas/Event"
        prevPage:
          type: string
        nextPage:
          type: string
        aggregations:
          $ref: "#/components/schemas/EventAggregations"
      required:
        - type
        - pageSize
        - totalPages
        - totalResults
        - results
      title: EventResultList
      description: A paginated list of events.
    AddressablesArticle:
      type: object
      properties:
        type:
          type: string
          enum:
            - Article
        id:
          type: string
          description: The identifier of the article
        uid:
          type: string
          description: The human-readable identifier of the article
        title:
          type: string
          description: The title of the article
        description:
          type: string
          description: A short description of the article's content
        linkedWorks:
          type: array
          items:
            $ref: "#/components/schemas/LinkedWork"
          description: An array of Catalogue Works linked to from the content
      required:
        - type
        - id
        - uid
        - title
        - description
        - linkedWorks
      title: Article
      description: A reduced piece of editorial content, limited to the parts
        necessary to render a summary
    AddressablesBook:
      type: object
      properties:
        type:
          type: string
          enum:
            - Book
        id:
          type: string
          description: The identifier of the book
        uid:
          type: string
          description: The human-readable identifier of the book
        title:
          type: string
          description: The title of the book
        description:
          type: string
          description: A short description of the book's content
        linkedWorks:
          type: array
          items:
            $ref: "#/components/schemas/LinkedWork"
          description: An array of Catalogue Works linked to from the content
        contributors:
          type: string
          description: The name or other short label of the contributor
      required:
        - type
        - id
        - uid
        - title
        - description
        - linkedWorks
      title: Book
      description: A reduced piece of editorial content, limited to the parts
        necessary to render a summary
    AddressablesEvent:
      type: object
      properties:
        type:
          type: string
          enum:
            - Event
        id:
          type: string
          description: The identifier of the event
        uid:
          type: string
          description: The human-readable identifier of the event
        title:
          type: string
          description: The title of the event
        description:
          type: string
          description: A short description of the event's content
        linkedWorks:
          type: array
          items:
            $ref: "#/components/schemas/LinkedWork"
          description: An array of Catalogue Works linked to from the content
        format:
          type: string
          description: The short label of the format
        times:
          type: object
          properties:
            start:
              type: string
              format: date-time
              description: The date and time of the start of the event
            end:
              type: string
              format: date-time
              description: The date and time of the end of the event
          required:
            - start
            - end
      required:
        - type
        - id
        - uid
        - title
        - description
        - linkedWorks
      title: Event
      description: A reduced piece of editorial content, limited to the parts
        necessary to render a summary
    AddressablesExhibition:
      type: object
      properties:
        type:
          type: string
          enum:
            - Exhibition
        id:
          type: string
          description: The identifier of the exhibition
        uid:
          type: string
          description: The human-readable identifier of the exhibition
        title:
          type: string
          description: The title of the exhibition
        description:
          type: string
          description: A short description of the exhibition's content
        linkedWorks:
          type: array
          items:
            $ref: "#/components/schemas/LinkedWork"
          description: An array of Catalogue Works linked to from the content
        format:
          type: string
          description: The short label of the format
        times:
          type: object
          properties:
            start:
              type: string
              format: date-time
              description: The date and time of the start of the exhibition
            end:
              type: string
              format: date-time
              description: The date and time of the end of the exhibition
          required:
            - times
      required:
        - type
        - id
        - uid
        - title
        - description
        - linkedWorks
      title: Exhibition
      description: A reduced piece of editorial content, limited to the parts
        necessary to render a summary
    AddressablesExhibitionText:
      type: object
      properties:
        type:
          type: string
          enum:
            - Exhibition text
        id:
          type: string
          description: The identifier of the exhibition text
        uid:
          type: string
          description: The human-readable identifier of the exhibition text
        title:
          type: string
          description: The title of the exhibition text
        description:
          type: string
          description: A short description of the exhibition text's content
        linkedWorks:
          type: array
          items:
            $ref: "#/components/schemas/LinkedWork"
          description: An array of Catalogue Works linked to from the content
      required:
        - type
        - id
        - uid
        - title
        - description
        - linkedWorks
      title: Exhibition text
      description: A reduced piece of editorial content, limited to the parts
        necessary to render a summary
    AddressablesExhibitionHighlightTourBSL:
      type: object
      properties:
        type:
          type: string
          enum:
            - Exhibition highlight tour
        id:
          type: string
          description: The identifier of the exhibition highlight tour
        uid:
          type: string
          description: The human-readable identifier of the exhibition highlight tour
        title:
          type: string
          description: The title of the exhibition highlight tour
        description:
          type: string
          description: A short description of the exhibition highlight tour's content
        linkedWorks:
          type: array
          items:
            $ref: "#/components/schemas/LinkedWork"
          description: An array of Catalogue Works linked to from the content
      required:
        - type
        - id
        - uid
        - title
        - description
        - linkedWorks
      title: Exhibition highlight tour
      description: A reduced piece of editorial content, limited to the parts
        necessary to render a summary
    AddressablesExhibitionHighlightTourAudio:
      type: object
      properties:
        type:
          type: string
          enum:
            - Exhibition highlight tour
        id:
          type: string
          description: The identifier of the exhibition highlight tour
        uid:
          type: string
          description: The human-readable identifier of the exhibition highlight tour
        title:
          type: string
          description: The title of the exhibition highlight tour
        description:
          type: string
          description: A short description of the exhibition highlight tour's content
        linkedWorks:
          type: array
          items:
            $ref: "#/components/schemas/LinkedWork"
          description: An array of Catalogue Works linked to from the content
      required:
        - type
        - id
        - uid
        - title
        - description
        - linkedWorks
      title: Exhibition highlight tour
      description: A reduced piece of editorial content, limited to the parts
        necessary to render a summary
    AddressablesPage:
      type: object
      properties:
        type:
          type: string
          enum:
            - Page
        id:
          type: string
          description: The identifier of the page
        uid:
          type: string
          description: The human-readable identifier of the page
        title:
          type: string
          description: The title of the page
        description:
          type: string
          description: A short description of the page's content
        linkedWorks:
          type: array
          items:
            $ref: "#/components/schemas/LinkedWork"
          description: An array of Catalogue Works linked to from the content
        tags:
          type: array
          items:
            type: string
          description: A list of document tags
      required:
        - type
        - id
        - uid
        - title
        - description
        - linkedWorks
      title: Page
      description: A reduced piece of editorial content, limited to the parts
        necessary to render a summary
    AddressablesProject:
      type: object
      properties:
        type:
          type: string
          enum:
            - Project
        id:
          type: string
          description: The identifier of the project
        uid:
          type: string
          description: The human-readable identifier of the project
        title:
          type: string
          description: The title of the project
        description:
          type: string
          description: A short description of the project's content
        linkedWorks:
          type: array
          items:
            $ref: "#/components/schemas/LinkedWork"
          description: An array of Catalogue Works linked to from the content
        format:
          type: string
          description: The short label of the format
      required:
        - type
        - id
        - uid
        - title
        - description
        - linkedWorks
      title: Project
      description: A reduced piece of editorial content, limited to the parts
        necessary to render a summary
    AddressablesSeason:
      type: object
      properties:
        type:
          type: string
          enum:
            - Season
        id:
          type: string
          description: The identifier of the season
        uid:
          type: string
          description: The human-readable identifier of the season
        title:
          type: string
          description: The title of the season
        description:
          type: string
          description: A short description of the season's content
        linkedWorks:
          type: array
          items:
            $ref: "#/components/schemas/LinkedWork"
          description: An array of Catalogue Works linked to from the content
      required:
        - type
        - id
        - uid
        - title
        - description
        - linkedWorks
      title: Season
      description: A reduced piece of editorial content, limited to the parts
        necessary to render a summary
    AddressablesVisualStory:
      type: object
      properties:
        type:
          type: string
          enum:
            - Visual story
        id:
          type: string
          description: The identifier of the visual story
        uid:
          type: string
          description: The human-readable identifier of the visual story
        title:
          type: string
          description: The title of the visual story
        description:
          type: string
          description: A short description of the visual story's content
        linkedWorks:
          type: array
          items:
            $ref: "#/components/schemas/LinkedWork"
          description: An array of Catalogue Works linked to from the content
      required:
        - type
        - id
        - uid
        - title
        - description
        - linkedWorks
      title: Visual story
      description: A reduced piece of editorial content, limited to the parts
        necessary to render a summary
    AllResultsList:
      type: object
      properties:
        type:
          type: string
        pageSize:
          type: integer
          format: int32
        totalPages:
          type: integer
          format: int32
        totalResults:
          type: integer
          format: int32
        prevPage:
          type: string
        nextPage:
          type: string
        results:
          type: array
          items:
            oneOf: &a1
              - $ref: "#/components/schemas/AddressablesArticle"
              - $ref: "#/components/schemas/AddressablesBook"
              - $ref: "#/components/schemas/AddressablesEvent"
              - $ref: "#/components/schemas/AddressablesExhibition"
              - $ref: "#/components/schemas/AddressablesExhibitionText"
              - $ref: "#/components/schemas/AddressablesExhibitionHighlightTourBSL"
              - $ref: "#/components/schemas/AddressablesExhibitionHighlightTourAudio"
              - $ref: "#/components/schemas/AddressablesPage"
              - $ref: "#/components/schemas/AddressablesProject"
              - $ref: "#/components/schemas/AddressablesSeason"
              - $ref: "#/components/schemas/AddressablesVisualStory"
      required:
        - type
        - pageSize
        - totalPages
        - totalResults
        - results
      title: AllResultList
      description: A paginated list of various types of editorial content
  parameters: {}
paths:
  /articles:
    get:
      operationId: getArticles
      tags:
        - Articles
      summary: /articles
      description: Returns a paginated list of articles
      parameters:
        - schema:
            type: string
            description: Full-text search query
          required: false
          description: Full-text search query
          name: query
          in: query
        - schema:
            type: string
            description: Which field to sort the results on
            enum:
              - relevance
              - publicationDate
          required: false
          description: Which field to sort the results on
          name: sort
          in: query
        - schema:
            type: string
            description: The order that the results should be returned in
            enum:
              - asc
              - desc
          required: false
          description: The order that the results should be returned in
          name: sortOrder
          in: query
        - schema:
            type: string
            description: What aggregated data in relation to the results should we return
            enum:
              - contributors.contributor
              - format
          required: false
          description: What aggregated data in relation to the results should we return
          name: aggregations
          in: query
        - schema:
            type: string
            description: Filter the articles by contributor
          required: false
          description: Filter the articles by contributor
          name: contributors.contributor
          in: query
        - schema:
            type: string
            description: Filter the articles by format
          required: false
          description: Filter the articles by format
          name: format
          in: query
        - schema:
            type: string
            format: date
            description: >-
              Return all articles with a publication date after and including
              this date.


              Can be used in conjunction with `publicationDate.to` to create a
              range.
          required: false
          description: >-
            Return all articles with a publication date after and including this
            date.


            Can be used in conjunction with `publicationDate.to` to create a
            range.
          name: publicationDate.from
          in: query
        - schema:
            type: string
            format: date
            description: >-
              Return all articles with a publication date before and including
              this date.


              Can be used in conjunction with `publicationDate.from` to create a
              range.
          required: false
          description: >-
            Return all articles with a publication date before and including
            this date.


            Can be used in conjunction with `publicationDate.from` to create a
            range.
          name: publicationDate.to
          in: query
        - schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
            description: Filter by linked catalogue work IDs. Accepts multiple work IDs via
              comma-separated values or repeated parameters.
          required: false
          description: Filter by linked catalogue work IDs. Accepts multiple work IDs via
            comma-separated values or repeated parameters.
          name: linkedWork
          in: query
        - schema:
            type: integer
            minimum: 1
            default: 1
            description: The page to return from the result list
          required: false
          description: The page to return from the result list
          name: page
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
            description: The number of results to return per page
          required: false
          description: The number of results to return per page
          name: pageSize
          in: query
      responses:
        "200":
          description: The articles
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ArticleResultList"
        "400":
          description: Bad Request Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not Found Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
        "410":
          description: Gone Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal Server Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
  /articles/{id}:
    get:
      operationId: getArticle
      tags:
        - Articles
      summary: /articles/{id}
      description: Returns a single article
      parameters:
        - schema:
            type: string
            description: The article to return
          required: true
          description: The article to return
          name: id
          in: path
      responses:
        "200":
          description: The article
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Article"
        "400":
          description: Bad Request Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not Found Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
        "410":
          description: Gone Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal Server Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
  /events:
    get:
      operationId: getEvents
      tags:
        - Events
      summary: /events
      description: Returns a paginated list of events
      parameters:
        - schema:
            type: string
            description: Full-text search query
          required: false
          description: Full-text search query
          name: query
          in: query
        - schema:
            type: string
            description: Which field to sort the results on
            enum:
              - relevance
              - times.startDateTime
          required: false
          description: Which field to sort the results on
          name: sort
          in: query
        - schema:
            type: string
            description: The order that the results should be returned in
            enum:
              - asc
              - desc
          required: false
          description: The order that the results should be returned in
          name: sortOrder
          in: query
        - schema:
            type: string
            description: What aggregated data in relation to the results should we return
            enum:
              - format
              - audience
              - interpretation
              - location
              - isAvailableOnline
              - timespan
          required: false
          description: What aggregated data in relation to the results should we return
          name: aggregations
          in: query
        - schema:
            type: string
            description: >-
              Filter events by format. Supports both inclusion and exclusion.


              - To include: `?format=workshop` or `?format=WcKmiysAACx_A8NR`

              - To exclude: `?format=!exhibitions`

              - Multiple values: `?format=workshop,screening`


              Supported aliases: exhibitions, workshop, gallery-tour, screening,
              performance, discussion, festival, late, shopping, walking-tour,
              study-day, send-workshop, seminar, symposium, chill-out,
              installation, game, session, relaxed-opening
          required: false
          description: >-
            Filter events by format. Supports both inclusion and exclusion.


            - To include: `?format=workshop` or `?format=WcKmiysAACx_A8NR`

            - To exclude: `?format=!exhibitions`

            - Multiple values: `?format=workshop,screening`


            Supported aliases: exhibitions, workshop, gallery-tour, screening,
            performance, discussion, festival, late, shopping, walking-tour,
            study-day, send-workshop, seminar, symposium, chill-out,
            installation, game, session, relaxed-opening
          name: format
          in: query
        - schema:
            type: string
            description: Filter the events by audience
          required: false
          description: Filter the events by audience
          name: audience
          in: query
        - schema:
            type: string
            description: Filter the events by interpretation
          required: false
          description: Filter the events by interpretation
          name: interpretation
          in: query
        - schema:
            type: string
            description: Filter the events by location
            enum:
              - online
              - in-our-building
          required: false
          description: Filter the events by location
          name: location
          in: query
        - schema:
            type: string
            enum:
              - "true"
            description: Filter to catch-up events only
          required: false
          description: Filter to catch-up events only
          name: isAvailableOnline
          in: query
        - schema:
            type: string
            description: Filter events by timespan
            enum:
              - today
              - this-week
              - this-weekend
              - this-month
              - future
              - past
              - january
              - february
              - march
              - april
              - may
              - june
              - july
              - august
              - september
              - october
              - november
              - december
          required: false
          description: Filter events by timespan
          name: timespan
          in: query
        - schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
            description: Filter by linked catalogue work IDs. Accepts multiple work IDs via
              comma-separated values or repeated parameters.
          required: false
          description: Filter by linked catalogue work IDs. Accepts multiple work IDs via
            comma-separated values or repeated parameters.
          name: linkedWork
          in: query
        - schema:
            type: integer
            minimum: 1
            default: 1
            description: The page to return from the result list
          required: false
          description: The page to return from the result list
          name: page
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
            description: The number of results to return per page
          required: false
          description: The number of results to return per page
          name: pageSize
          in: query
      responses:
        "200":
          description: The events
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/EventResultList"
        "400":
          description: Bad Request Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not Found Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
        "410":
          description: Gone Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal Server Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
  /events/{id}:
    get:
      operationId: getEvent
      tags:
        - Events
      summary: /events/{id}
      description: Returns a single event
      parameters:
        - schema:
            type: string
            description: The event to return
          required: true
          description: The event to return
          name: id
          in: path
      responses:
        "200":
          description: The event
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Event"
        "400":
          description: Bad Request Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not Found Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
        "410":
          description: Gone Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal Server Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
  /all:
    get:
      operationId: getAll
      tags:
        - All
      summary: /all
      description: Returns a paginated list of our non-catalogue content, i.e.
        (articles, books, events, exhibitions, exhibition texts, exhibition
        highlight tours (BSL), exhibition highlight tours (audio), pages,
        projects, seasons, and visual stories)
      parameters:
        - schema:
            type: string
            description: Full-text search query
          required: false
          description: Full-text search query
          name: query
          in: query
        - schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
            description: Filter by linked catalogue work IDs. Accepts multiple work IDs via
              comma-separated values or repeated parameters.
          required: false
          description: Filter by linked catalogue work IDs. Accepts multiple work IDs via
            comma-separated values or repeated parameters.
          name: linkedWork
          in: query
        - schema:
            type: integer
            minimum: 1
            default: 1
            description: The page to return from the result list
          required: false
          description: The page to return from the result list
          name: page
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
            description: The number of results to return per page
          required: false
          description: The number of results to return per page
          name: pageSize
          in: query
      responses:
        "200":
          description: The editorial content
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AllResultsList"
        "400":
          description: Bad Request Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not Found Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
        "410":
          description: Gone Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal Server Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
  /all/{id}:
    get:
      operationId: getAllById
      tags:
        - All
      summary: /all/{id}
      description: Returns a single piece of our non-catalogue content
      parameters:
        - schema:
            type: string
            description: The id of the content to return
          required: true
          description: The id of the content to return
          name: id
          in: path
      responses:
        "200":
          description: The content
          content:
            "*/*":
              schema:
                oneOf: *a1
        "400":
          description: Bad Request Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not Found Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
        "410":
          description: Gone Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Internal Server Error
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Error"
webhooks: {}
